.env/
models/**
.env
.venv/**
*.log
__pycache__/
.benchmarks/
.pytest_cache/
build/
dist/
logs/

guru/models/llama/weights/LLaMa/**
guru/models/whisper/weights/**

!pull_llama.sh
!.keep
tmp/
local_cache/

data/
photos/
