pytest
pytest-asyncio
pytest-mock
matplotlib
scikit-learn
tensorboard
ipython

# llama tinygrad integration requirements
sentencepiece

# Used for Mac's Metal GPU support
# pyobjc-framework-Metal
# pyobjc-framework-Cocoa
# pyobjc-framework-libdispatch

# required for gpt2 model
tiktoken

# Required for whisper
# requires apt-get install portaudio19-dev || brew install portaudio
# WSL specific follow this guide to enable USB devices if your mic is not working
#   to fix it https://learn.microsoft.com/en-us/windows/wsl/connect-usb
librosa
pyaudio

pyautogen @git+https://github.com/microsoft/autogen@main#egg=pyautogen
openai~=1.2

# You would normally install this, but this will bring
# over torch and other dependencies that we don't want
# Instead we are managing the requirements ourselves.
# pyautogen[retrievechat]==0.1.13
# tiktoken
# sentence_transformers - BAD introduces torch
# pypdf
chromadb
alembic==1.12.1
qdrant_client[fastembed]==1.6.4
llama_index
duckduckgo-search==3.9.4
langchain-experimental==0.0.37
wikipedia==1.4.0
py-cord[voice]==2.4.1
pydub==0.25.1
arxiv==2.0.0
pysqlite3-binary
fastapi==0.104.1
uvicorn==0.24.0
sqlmodel==0.0.11
elevenlabs
spacy==3.7.2

# hopefully we can get rid of the torch requirements
# Used for conversational analysis
transformers
tensorflow
bertopic


# for creating executables
pyinstaller