<p style="color: green"><%= notice %></p>

<h1>Open ai threads</h1>

<div id="open_ai_threads">
  <% @open_ai_threads.each do |open_ai_thread| %>
    <%= render open_ai_thread %>
    <p>
      <%= link_to "Show this open ai thread", open_ai_thread %>
    </p>
  <% end %>
</div>

<%= link_to "New open ai thread", new_open_ai_thread_path %>
