<h1>Editing open ai message</h1>

<%= render "form", open_ai_message: @open_ai_message %>

<br>

<div>
  <%= link_to "Show this open ai message", @open_ai_message %> |
  <%= link_to "Back to open ai messages", open_ai_messages_path %>
</div>
