<p style="color: green"><%= notice %></p>

<h1>Open ai messages</h1>

<div id="open_ai_messages">
  <% @open_ai_messages.each do |open_ai_message| %>
    <%= render open_ai_message %>
    <p>
      <%= link_to "Show this open ai message", open_ai_message %>
    </p>
  <% end %>
</div>

<%= link_to "New open ai message", new_open_ai_message_path %>
